@model RetailBankManagement.Models.Customer

@{
    ViewBag.Title = "viewCustbyID";
    
}
@section k
{
    <table class="menu" cellpadding="5px" cellspacing="5px">
        <tr>
            <td><a href="@Url.Action("LoginforExecutive", "WebsiteLogin")">Home</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("AddCustomer", "Customer")">Add customer</a> </td>
        </tr>
        <tr>
            <td><a href="@Url.Action("ViewCustomerByCustomerId", "Customer")">Update/Delete customer</a> </td>
        </tr>
        <tr>
            <td> <a href="@Url.Action("ViewAllCustomer", "Customer")">View all customer</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("InsertCustomer", "CreateCustomerAccounts2por")">Create account</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("AccountsearchforExecutive", "AccountSearch")">Delete account</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("ViewAllAccount", "AccountSearch")">View all account</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("WebsiteLogin", "WebsiteLogin")">Logout</a></td>
        </tr>
    </table>

}






<link href="~/Content/Global_s2por.css" rel="stylesheet" />
<h2 class="header">Customer details</h2>
<div class="form_div">
    


    <table class="tbl" cellspacing="5px" cellpadding="5px">
        @{
            for (int i = 0; i < Model.storeData.Tables[0].Rows.Count; i++)
            {
                var CustomerId = Model.storeData.Tables[0].Rows[i]["Customer_ID"].ToString();
                var CustomerssnID = Model.storeData.Tables[0].Rows[i]["Customer_SSN_ID"].ToString();
                var CustomerName = Model.storeData.Tables[0].Rows[i]["Customer_Name"].ToString();
                var CustomerAge = Model.storeData.Tables[0].Rows[i]["Customer_Age"].ToString();
                var CustomerAddress = Model.storeData.Tables[0].Rows[i]["Customer_Address"].ToString();
                
                <tr>
                    <th>
                        <b>Customer ID</b>
                    </th>
                    <th>
                        <b>Customer SSNID</b>
                    </th>
                    <th>
                        <b>Customer Name</b>
                    </th>
                    <th>
                        <b>Customer Age</b>
                    </th>
                    <th>
                        <b>Customer Address</b>
                    </th>
                    <th>
                        <b>Operations</b>
                    </th>
                </tr>
                <tr>
                    <td>
                        @CustomerId
                    </td>
                    <td>
                        @CustomerssnID
                    </td>
                    <td>
                        @CustomerName
                    </td>
                    <td>
                        @CustomerAge
                    </td>
                    <td>
                        @CustomerAddress
                    </td>
                    <td>
                        @Html.ActionLink("UPDATE", "updatecustomer", new { id = Model.storeData.Tables[0].Rows[i]["Customer_ID"].ToString() })

                        @Html.ActionLink("DELETE", "DeleteCustomer", new { id = Model.storeData.Tables[0].Rows[i]["Customer_ID"].ToString() })
                    </td>
                </tr>
       

            }

        }
    </table>
    
 
</div>


