@model RetailBankManagement.Models.Customer

@{
    ViewBag.Title = "ViewCustomerforTeller";
}

@section k
{
    <table class="menu" cellpadding="5px" cellspacing="5px">
        <tr>
            <td><a href="@Url.Action("Loginforteller", "WebsiteLogin")">Home</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("ViewCustomerforTeller", "Customer")">View customer details</a> </td>
        </tr>
        <tr>
            <td><a href="@Url.Action("AccountByCustomerId", "AccountSearch")">View account details</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("AccountByCustomerId", "AccountSearch")">Transactions</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("AccountStatement", "AccountSearch")">Account statement</a></td>
        </tr>
        <tr>
            <td><a href="@Url.Action("WebsiteLogin", "WebsiteLogin")">Logout</a></td>
        </tr>
    </table>
    }
@{

    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script type="text/javascript">
    var message = '@message';
    if (message)
        alert(message);
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/Global_s2por.css" rel="stylesheet" />
<h2 class="header">View customer details</h2>
<div class="form_div">
    @using (Html.BeginForm())
    {
        <table class="tbl" cellspacing="5px" cellpadding="5px">
            <tr>
                @{
        List<SelectListItem> items = new List<SelectListItem>();
        items.Add(new SelectListItem { Text = "Select Mode", Value = "", Selected = true });
        items.Add(new SelectListItem { Text = "ByCustomerID", Value = "ByCustomerID" });
        items.Add(new SelectListItem { Text = "ByCustomerSSNID", Value = "ByCustomerSSNID" });
                }

                <td>
                    @Html.LabelFor(a => a.Customer_Search)
                </td>
                <td>
                    @Html.DropDownListFor(a => a.Customer_Search, items, new { @class = "form-control" })
                </td>
                <td>
                    <span style="color:red">
                        @Html.ValidationMessageFor(a => a.Customer_Search)
                    </span>
                </td>
            <tr>
                <td>
                    @Html.LabelFor(a => a.temp_ID)
                </td>

                <td>
                    @Html.TextBoxFor(a => a.temp_ID)
                </td>
                <td>
                    <span style="color:red">
                        @Html.ValidationMessageFor(a => a.temp_ID)
                    </span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="submitSearch" type="submit" value="Search" />
                </td>
                <td></td>
            </tr>
        </table>


    }
</div>

